<h1>Training Events</h1>

<table>
<% for event in @kase.events %>
<tr>
  <td><%= event.date_time.to_date %></td>
  <td><%= event.event_type.name %></td>
  <td><%= event.user.email %></td>
  <td><%= link_to "Details", event %></td>
</tr>
<% end %> 
</table>
<% if can? :edit, @kase %>
<%= link_to "Add", new_event_path(:kase_id=>@kase.id) %>
<% end %>
