  <% if @kase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kase.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
      <% @kase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :customer_id %>

<ol class="section">
  <li>
    <%= f.label :open_date, "Opened" %>
    <%= f.text_field :open_date %>
  </li>
  
  <li>
    <%= f.label :referral_source %>
    <%= f.text_field :referral_source %>
  </li>

  <li>
    <%= f.label :referral_type_id, "Referral Source Type" %>
    <%= f.collection_select :referral_type_id, @referral_types, :id, :name %>
  </li>

  <li>
    <%= f.label :user_id, "Assigned to" %>
    <%= f.collection_select :user_id, @users, :id, :email %>
  </li>

  <li>
    <%= f.label :funding_source_id, "Default funding source" %>
    <%= f.collection_select :funding_source_id, @funding_sources, :id, :name %>
  </li>

  <li>
    <%= f.label :close_date, "Closed" %>
    <%= f.text_field :close_date %>
  </li>

  <li>
    <%= f.label :disposition_id, "Disposition" %>
    <%= f.collection_select :disposition_id, @dispositions, :id, :name %>
  </li>
  
  <li>
    <div class="actions">
      <%= f.submit "Save" %>
    </div>
  </li>
</ol>
