<h1>Routes Trained</h1>
<table id="routes">
<% for route in @kase.routes %>
<%= render :partial=>"route_row", :locals=>{:route=>route, :kase=>@kase, :edit=>true} %>
<% end %>
</table>

<% if can? :edit, @kase %>
<%= link_to "Add [TODO: make this link show this form]" %>

<%= form_for @kase_route, :url=>add_route_kases_path, :html=>{:remote=>:true, :id=>"new_route_form", :method=>:post, "data-type"=>:html} do |f| %>
  <%= f.hidden_field :kase_id %>
  <%= f.collection_select :route_id, @routes, :id, :name %>
  <%= f.submit %>
<% end %>
<% end %>

<script type='text/javascript'>
function init_row(index, row) {
    $(row).bind('ajax:success', function(evt, data, status, xhr){
        var $this = $(this);
        $('#kase_route_' + data.kase_id + "_" + data.route_id).remove();
    })
}
$('.kase_route_row').each (init_row);

$('#new_route_form')
  .bind('ajax:success', function(evt, data, status, xhr){
    var $this = $(this);

    $('#routes').append(xhr.responseText);

    init_row(null, '#routes tbody tr:last');

    $this.find('.errors').empty();

  })
  .bind('ajax:error', function(evt, xhr, status, error){

    // Display the errors (i.e. an error partial or helper)
    $(this).find('.errors').html(xhr.responseText);

  });
</script>
