<fieldset>
  <ol class="section first">
    <h1>My Cases</h1>
    <h2>Open</h2>
    <% for kase in @my_open_kases %>
      <li>
        <%= link_to kase.customer.name_reversed, kase %><br/>
      </li>
    <% end %>
    <h2>3 Month Follow-ups</h2>
    <% for kase in @my_three_month_follow_ups %>
      <li>
        <%= link_to kase.customer.name_reversed, kase %> (closed <%= kase.close_date %>)<br/> 
      </li>
    <% end %>
    <h2>6 Month Follow-ups</h2>
    <% for kase in @my_six_month_follow_ups %>
      <li>
        <%= link_to kase.customer.name_reversed, kase %> (closed <%= kase.close_date %>)<br/> 
      </li>
    <% end %>
  </ol>
  <ol class="section second">
    <h1>Other Cases</h1>
    <h2>Open</h2>
    <% for kase in @other_open_kases %>
      <li>
        <%= link_to kase.customer.name_reversed, kase %> (<%= kase.assigned_to.email %>)<br/> 
      </li>
    <% end %>
    <h2>3 Month Follow-ups</h2>
    <% for kase in @other_three_month_follow_ups %>
      <li>
        <%= link_to kase.customer.name_reversed, kase %> (closed <%= kase.close_date %>)<br/> 
      </li>
    <% end %>
    <h2>6 Month Follow-ups</h2>
    <% for kase in @other_six_month_follow_ups %>
      <li>
        <%= link_to kase.customer.name_reversed, kase %> (closed <%= kase.close_date %>)<br/> 
      </li>
    <% end %>
  </ol>
  <ol class="section third">
    <h1>Wait List</h1>
    <% for kase in @wait_list %>
      <li>
        <%= link_to kase.customer.name_reversed, kase %> (<%= kase.open_date %>)<br/>
      </li>
    <% end %>
  </ol>
</fieldset>
