<h1>Case for <%= link_to @kase.customer.name, @kase.customer %></h1>

Opened: <%= @kase.open_date %><br/>
Referral Source: <%= @kase.referral_source %><br/>
Referral Source Type: <%= @kase.referral_type.name %><br/>
Assigned to: <%= @kase.assigned_to.email %><br/>
Default Funding Source: <%= @kase.funding_source.name %><br/>
Closed: <%= @kase.close_date %><br/>
Disposition: <%= @kase.disposition.name %><br/>

<%= last_updated @kase %>

<%= render "contacts" %>

<%= render "events" %>

<%= render "surveys" %>

<%= render "routes", :locals=>{:edit => false} %>

<%= render "outcomes" %>




