<div id="page-header">
  <h1><%= link_to @kase.customer.name, @kase.customer %></h1>
</div>


<fieldset>
  <div class="first">
    <%= render "form" %>

    <%#= last_updated @kase %>
    <ol class="section">
      <li>
      <%= render "contacts" %>
      </li>
    </ol>
    
    <ol class="section">
      <li>
      <%= render "events" %>
      </li>
    </ol>
  </div>

  <div class="second">
    <ol class="section">
      <li>
      <%= render "surveys" %>
      </li>
    </ol>
    
    <ol class="section">
      <li>
      <%= render "routes", :locals=>{:edit => false} %>
      </li>
    </ol>

    <ol class="section">
      <li>
      <%= render "outcomes" %>
      </li>
    </ol>
  </div>
</fieldset>
