<% if @users == 0 %>
  <p>No users yet.</p>
<% else %>
  <table>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Last login</th>
      <% if can? :edit, User %>
      <th></th>
      <th></th>
      <% end %>
    </tr>

    <% for user in @users %>
    <tr>
      <td class="<%= user.role_name.downcase %>">
        <%= user.email %>
        <% if user == current_user %>
          <span class="separator">|</span> <%= link_to "Change Password", show_change_password_path, :class=>'change-password' %>
        <% end %>
      </td>
      <td><%= user.role_name %></td>
      <td><%= user.last_sign_in_at %></td>
      <% if can? :edit, user %>
      <td>
        <%= form_for(user, :url=>update_user_path(:id=>user.id), :html => { :method => :post }) do |f| %>
          <%= f.select(:level, user_roles(user.level)) %>
          <%= f.submit "Change role" %>
        <% end %>
      </td>
      <td>
        <%= button_to("Delete", user_path(:id=>user.id), :confirm => 'Are you sure?', :class=>'delete', :method=>:delete) unless user.level == -1 %>
      </td>
      <% end %>
    </tr>
    <% end %>
 </table>
<% end %>

<% if can? :edit, User %>
<hr/>
<%= link_to "New User", new_user_path, :class => "new-user action-bttn" %>
<% end %>
