<h1>Listing dispositions</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dispositions.each do |disposition| %>
  <tr>
    <td><%= disposition.id %></td>
    <td><%= disposition.name %></td>
    <td><%= link_to 'Show', disposition %></td>
    <td><%= link_to 'Edit', edit_disposition_path(disposition) %></td>
    <td><%= link_to 'Destroy', disposition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Disposition', new_disposition_path %>
