<h1>Customer support network member for <%= @customer_support_network_member.customer.name %></h1>

<%= form_for @customer_support_network_member do |f| %>
<%= f.hidden_field :customer_id %>

<%= f.label :name %><br/>
<%= f.text_field :name %><br/>

<%= f.label :title %><br/>
<%= f.text_field :title %><br/>

<%= f.label :organization %><br/>
<%= f.text_field :organization %><br/>

<%= f.label :phone_number %><br/>
<%= f.text_field :phone_number %><br/>

<%= f.label :email %><br/>
<%= f.text_field :email %><br/>


<%= f.submit %> <br/>
<% end %>
