<h1>Training Event for <%= @event.customer.name %></h1>

<%= form_for @event do |f| %>
<%= f.hidden_field :user_id %>
<%= f.hidden_field :kase_id %>

By: <%= @event.user.email %><br/>

<%= f.label :date_time, "Date & Time" %><br/>
<%= f.text_field :date_time %><br/>

<%= f.label :event_type_id, "Type" %><br/>
<%= f.collection_select :event_type_id, @event_types, :id, :name %><br/>

<%= f.label :funding_source_id, "Funding Source" %><br/>
<%= f.collection_select :funding_source_id, @funding_sources, :id, :name %><br/>

<%= f.label :duration_in_hours, "Hours" %><br/>
<%= f.text_field :duration_in_hours %><br/>

<%= f.label :notes %><br/>
<%= f.text_area :notes %><br/>

<%= f.submit %> <br/>
<% end %>
