<h1>Training Event for <%= @event.customer.name %></h1>

By: <%= @event.user.email %><br/>
Date & Time: <%= @event.date_time %><br/>
Type: <%= @event.event_type.name %><br/>
Funding Source: <%= @event.funding_source.name %><br/>
Hours: <%= @event.duration_in_hours %><br/>
Notes: <%= @event.notes %><br/>

<%= last_updated @event %><br/>

<% if can? :edit, @event %>
  <%= link_to "Edit", edit_event_path(@event) %><br/>
<% end %>
<%= link_to "Back to case", @event.kase %><br/>
