<h1>Special Considerations</h1>
<% if can? :edit, @customer %>
  <%= link_to "Add", new_customer_impairment_path( :customer_id => @customer.id ), :class => :add %>
<% end %>

<table id="impairments">
<% for customer_impairment in @customer.customer_impairments %>
  <tr>
    <td>
      <%= customer_impairment.impairment.name %>
    </td>
    <td><%= customer_impairment.notes %></td>
    <td>
      <%= link_to( "", edit_customer_impairment_path( customer_impairment ), :class => "edit") if can? :edit, @customer %>
    </td>
    <td>
      <%= link_to "", customer_impairment_path( customer_impairment ), {:method=>:delete, :confirm => "Are you sure you want to delete this customer impairment?", :class=>"delete"} %>
    </td>
  </tr>
<% end %>
</table>

