<h1>Special Considerations</h1>

<table id="impairments">
<% for impairment in @customer.impairments %>
<%= render :partial=>"impairment_row", :locals=>{:impairment=>impairment, :customer=>@customer, :edit=>true} %>
<% end %>
</table>

<%- if can? :edit, @customer -%>
  <%= link_to "Add", add_impairment_customers_path(:customer_id=>@customer.id), "data-behavior" => "toggle-next" %>
  <div style="display:none;">
    <%= form.fields_for @customer.customer_impairments.build do |f| %>
      <%= f.hidden_field :customer_id %>
      <%= f.collection_select :impairment_id, @impairments, :id, :name %>
      <%= content_tag :button, "Add impairment", "data-remote" => add_impairment_customers_path %>
    <% end %>
  </div>
<%- end -%>

<script type='text/javascript'>

  function init_row(index, row) {
      $(row).bind('ajax:success', function(evt, data, status, xhr){
          var $this = $(this);
          $('#customer_impairment_' + data.customer_id + "_" + data.impairment_id).remove();
      })
  }
  
  $('.customer_impairment_row').each (init_row);

  $("button[data-remote]").click( function( e ){
    var button = $(this);
  
    $.post( 
      button.attr("data-remote"),
      button.parent().find("input, select").serialize(),
      function(data, status, xhr){
        var $this = $(this);

        $('#impairments').append(xhr.responseText);
        init_row(null, '#impairments tbody tr:last');
      }
    );
    e.preventDefault();
  });
</script>
