<h1>Support Network</h1>
<% for member in @customer.customer_support_network_members %>

<%= member.name %> 
<% if can? :edit, member %>
  <%= link_to "x", member, :method=>:delete, :confirm=>"Are you sure?" %><br/>
<% end %>

<%= member.title %><br/>
<%= member.organization %><br/>
<%= member.phone_number %><br/>
<%= link_to member.email, "mailto:%s" % member.email %><br/>

<% end %>
<%= link_to "Add", new_customer_support_network_member_path(:customer_id=>@customer.id) %><br/>
