<h1>Support Network</h1>
<dl>
<% for member in @customer.customer_support_network_members %>

<dt>
  <%= link_to member.name, edit_customer_support_network_member_path(member) %>
  <% if can? :edit, member %>
    <%= link_to "", member, :class => "delete", :method=>:delete, :confirm=>"Are you sure?" %>
  <% end %>
</dt>

<dd><%= member.title %></dd>
<dd><%= member.organization %></dd>
<dd><%= member.phone_number %></dd>
<dd><%= link_to member.email, "mailto:%s" % member.email %></dd>

<% end %>
</dl>
<%= link_to "Add", new_customer_support_network_member_path(:customer_id=>@customer.id) %>
