<h1>Editing customer</h1>

<%= render 'form' %>

<%= last_updated @customer %>

<%= render "impairments" %>

<%= render "kases" %>

<%= render "network" %>

<%= link_to 'Show', @customer %> |
<%= link_to 'Back', customers_path %>
