<% form_tag search_customers_path, :method => :get do %>
  <fieldset>
    <ol class="section fourth">
      <li>
        <%= label_tag "Filter by Name" %>
        <%= text_field_tag :name %>
        <%= submit_tag "Search" %>
      </li>
    </ol>
  </fieldset>
<% end %>

<% if can? :edit, Customer %>
  <%= link_to "New Customer", new_customer_path, :class => "new-customer action-bttn" %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>DOB</th>
    <th>Primary Phone</th>
    <th>Secondary Phone</th>
    <th>Email Address</th>
    <th>Address</th>
<% if can? :destroy, Customer %>
    <th></th>
<% end %>
  </tr>

<% for customer in @customers %>
  <tr>
    <td><%= link_to customer.name_reversed, customer %></td>
    <td><%= customer.birth_date %></td>
    <td><%= customer.phone_number_1 %></td>
    <td><%= customer.phone_number_2 %></td>
    <td><%= customer.email %></td>
    <td><%= customer.address %></td>
    <% if can? :destroy, customer %>    
      <td><%= button_to "Delete", customer, :confirm=>"Are you sure you want to delete this user?", :method=>:delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @customers %>

