<h1>New customer</h1>

<%= form_for @customer, :html => { :multipart => true }  do |f| %>
<fieldset>
  <ol class="section first">
    <%= render 'form', :f => f %>
  </ol>
  
  <ol class="section first">
    <%= render 'notes_and_photo', :f => f %>
  </ol>
  
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
  
</fieldset>
<% end %>

<%= link_to 'Back', customers_path %>
