<%= form_for @contact do |f| %>
<fieldset>
  <%= f.hidden_field :kase_id %>
  
  <ol class="section fourth">
    <li>
      <label>By</label>
      <%= current_user.email %>
    </li>
    <li>
      <%= f.label :date_time, "Date" %>
      <%= f.text_field :date_time, :value=>@contact.date_time %>
    </li>
    <li>
      <%= f.label :method %>
      <%= f.collection_select :method, @contact_methods, :to_s, :to_s %>
    </li>
    <li>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </li>
    <li>
      <%= f.label :notes %>
      <%= f.text_area :notes, "data-behavior" => "autoresize" %>
    </li>
    <li>
      <%= f.label :show_full_notes %>
      <%= f.check_box :show_full_notes %>
    </li>
  </ol>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>

</fieldset>
<% end %>