<h1>Listing referral_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @referral_types.each do |referral_type| %>
  <tr>
    <td><%= referral_type.name %></td>
    <td><%= link_to 'Show', referral_type %></td>
    <td><%= link_to 'Edit', edit_referral_type_path(referral_type) %></td>
    <td><%= link_to 'Destroy', referral_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Referral type', new_referral_type_path %>
