<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @referral_type.id %>
</p>

<p>
  <b>Name:</b>
  <%= @referral_type.name %>
</p>


<%= link_to 'Edit', edit_referral_type_path(@referral_type) %> |
<%= link_to 'Back', referral_types_path %>
