<%= form_for(@funding_source) do |f| %>
  <% if @funding_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funding_source.errors.count, "error") %> prohibited this funding_source from being saved:</h2>

      <ul>
      <% @funding_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
