<h1>Listing impairments</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @impairments.each do |impairment| %>
  <tr>
    <td><%= impairment.id %></td>
    <td><%= impairment.name %></td>
    <td><%= link_to 'Show', impairment %></td>
    <td><%= link_to 'Edit', edit_impairment_path(impairment) %></td>
    <td><%= link_to 'Destroy', impairment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Impairment', new_impairment_path %>
