<h1>Outcome for <%= @outcome.customer.name %></h1>

<%= form_for @outcome do |f| %>
<%= f.hidden_field :kase_id %>

<%= f.label :trip_reason_id, "Travel Purpose" %><br/>
<%= f.collection_select :trip_reason_id, @trip_reasons, :id, :name %><br/>

<h2>At Exit</h2>
<%= f.label :exit_trip_count, "Anticipated one-way trips per week" %><br/>
<%= f.text_field :exit_trip_count %><br/>
<%= f.label :exit_vehicle_miles_reduced, "Anticipated vehicle miles reduced" %><br/>
<%= f.text_field :exit_vehicle_miles_reduced %><br/>

<h2>At 3 Months</h2>
<%= f.label :three_month_trip_count, "Actual one-way trips per week" %><br/>
<%= f.text_field :three_month_trip_count %><br/>

<%= f.label :three_month_vehicle_miles_reduced, "Actual vehicle miles reduced" %><br/>
<%= f.text_field :three_month_vehicle_miles_reduced %><br/>

<%= f.label :three_month_unreachable, "Unreachable" %><br/>
<%= f.check_box :three_month_unreachable %><br/>

<h2>At 6 Months</h2>
<%= f.label :six_month_trip_count, "Actual one-way trips per week" %><br/>
<%= f.text_field :six_month_trip_count %><br/>

<%= f.label :six_month_vehicle_miles_reduced, "Actual vehicle miles reduced" %><br/>
<%= f.text_field :six_month_vehicle_miles_reduced %><br/>

<%= f.label :six_month_unreachable, "Unreachable" %><br/>
<%= f.check_box :six_month_unreachable %><br/>

<%= f.submit %> <br/>
<% end %>
