<div id="page-header">
  <h1>Age &amp; Ethnicity</h1>
  <%= content_tag :h2, describe_date_range(@start_date,@end_date) %>
</div>

<% Kase::VALID_COUNTIES.each do |county,county_code| %>
  <div class="section-header">
    <h2><%= county %> County</h2>
  </div>

  <div class="indent">
    <table>
      <thead>
        <tr>
          <th>Age</th>
          <th>Current Month</th>
          <th>Fiscal YTD</th>
        </tr>
      </thead>

      <tr>
        <td class="report-item">Unduplicated number of persons 60 years and older</td>
        <td class="number"><%= @this_month_sixty_plus[county] %></td>
        <td class="number"><%= @this_year_sixty_plus[county] %></td>
      </tr>

      <tr>
        <td class="report-item">Unduplicated number of persons 59 years and younger</td>
        <td class="number"><%= @this_month_less_than_sixty[county] %></td>
        <td class="number"><%= @this_year_less_than_sixty[county] %></td>
      </tr>

      <tr>
        <td class="report-item">Unduplicated number of persons age unknown</td>
        <td class="number"><%= @this_month_unknown_age[county] %></td>
        <td class="number"><%= @this_year_unknown_age[county] %></td>
      </tr>

      <tfoot>
        <tr>
          <td >Total Unduplicated Individuals</td>
          <td class="number"><%= @this_month_unknown_age[county] + @this_month_sixty_plus[county] + @this_month_less_than_sixty[county] %></td>
          <td class="number"><%= @this_year_unknown_age[county] + @this_year_sixty_plus[county] + @this_year_less_than_sixty[county]  %></td>
        </tr>
      </tfoot>
    </table>

    <table>

      <thead>
        <tr>
          <th>Ethnic Heritage</th>
          <th>Current Month</th>
          <th>Fiscal YTD</th>
        </tr>
      </thead>

      <% for ethnicity in @counts_by_ethnicity[county].keys.sort_by{|e| e.name} %>
        <% row = @counts_by_ethnicity[county][ethnicity] %>
        <tr>
          <td class="report-item"><%= ethnicity.name %></td>
          <td class="number"><%= row['month'] %></td>
          <td class="number"><%= row['year'] %></td>
        </tr>
      <% end %>

      <tfoot>
        <tr>
          <td>Total</td>
          <td class="number"><%= @counts_by_ethnicity[county].values.reduce(0){|sum,this| sum + this['month']} %></td>
          <td class="number"><%= @counts_by_ethnicity[county].values.reduce(0){|sum,this| sum + this['year']} %></td>
        </tr>
      </tfoot>

    </table>
  </div>
<% end %>
