<div id="page-header">
  <h1>Reports</h1>
</div>

<div>
  <fieldset>
    <label>Select report: </label>
    <%= select_tag "report_selector", reports_options %>
  </fieldset>
</div>  

<div class="predefined-report" data-name="monthly">
  <form action="/reports/basic_monthly_report" class="run-report">
    <fieldset>
      <h2 class="report-header">Monthly report</h2>
      <p></p>
      <ol>
        <li>
          <label>Funding source:</label> 
          <%= select_tag "funding_source_id", options_for_select(@funding_sources.map { |fs| [fs.name, fs.id] }) %>
        </li>
        <li>
          <label>First day of month:</label> 
          <input type="text" name="start_date" class="datepicker">
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  </form>
</div>

<div class="predefined-report" data-name="yearly">
  <form action="/reports/basic_annual_report" class="run-report">
    <fieldset>
      <h2 class="report-header">Yearly report</h2>
      <p></p>
      <ol>
        <li>
          <label>Funding source:</label> 
          <%= select_tag "funding_source_id", options_for_select(@funding_sources.map { |fs| [fs.name, fs.id] }) %>
        </li>
        <li>
          <label>Fiscal Year:</label> 
          <input type="text" name="year">
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  </form>
</div>

<div class="predefined-report" data-name="demographic">
  <form action="/reports/age_and_ethnicity" class="run-report">
    <fieldset>
      <h2 class="report-header">Age and ethnicity report</h2>
      <p></p>
      <ol>
        <li>
          <label>Funding source:</label> 
          <%= select_tag "funding_source_id", options_for_select(@funding_sources.map { |fs| [fs.name, fs.id] }) %>
        </li>
        <li>
          <label>First day of month:</label> 
          <input type="text" name="start_date" class="datepicker">
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  </form>
</div>

<div class="predefined-report" data-name="trainer">
  <form action="/reports/trainer" class="run-report">
    <fieldset>
      <h2 class="report-header">Trainer report</h2>
      <p></p>
      <ol>
        <li>
          <label>Start date:</label>
          <input type="text" name="start_date" class="datepicker">
        </li>
        <li>
          <label>End date:</label>
          <input type="text" name="end_date" class="datepicker">
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  </form>
</div>

<div class="predefined-report" data-name="trainee">
  <form action="/reports/trainee" class="run-report">
    <fieldset>
      <h2 class="report-header">Trainee report</h2>
      <p></p>
      <ol>
        <li>
          <label>Start date:</label>
          <input type="text" name="start_date" class="datepicker">
        </li>
        <li>
          <label>End date:</label>
          <input type="text" name="end_date" class="datepicker">
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  </form>
</div>

<div class="predefined-report" data-name="route">
  <form action="/reports/route" class="run-report">
    <fieldset>
      <h2 class="report-header">Route report</h2>
      <p></p>
      <ol>
        <li>
          <label>Route:</label> 
          <%= select_tag "route_id", options_for_select(@routes.map { |fs| [fs.name, fs.id] }) %>
        </li>
        <li>
          <label>Start date:</label>
          <input type="text" name="start_date" class="datepicker">
        </li>
        <li>
          <label>End date:</label>
          <input type="text" name="end_date" class="datepicker">
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  </form>
</div>

<div class="predefined-report" data-name="outcomes">
  <form action="/reports/outcomes" class="run-report">
    <fieldset>
      <h2 class="report-header">Outcomes export</h2>
      <p></p>
      <ol>
        <li>
          <label>Start date:</label>
          <input type="text" name="start_date" class="datepicker">
        </li>
        <li>
          <label>End date:</label>
          <input type="text" name="end_date" class="datepicker">
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  </form>
</div>

<div class="predefined-report" data-name="cases">
  <form action="/reports/cases" class="run-report">
    <fieldset>
      <h2 class="report-header">Cases export</h2>
      <p></p>
      <ol>
        <li>
          <label>Start date:</label>
          <input type="text" name="start_date" class="datepicker">
        </li>
        <li>
          <label>End date:</label>
          <input type="text" name="end_date" class="datepicker">
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  </form>
</div>

<div class="predefined-report" data-name="events">
  <form action="/reports/events" class="run-report">
    <fieldset>
      <h2 class="report-header">Events export</h2>
      <p></p>
      <ol>
        <li>
          <label>Start date:</label>
          <input type="text" name="start_date" class="datepicker">
        </li>
        <li>
          <label>End date:</label>
          <input type="text" name="end_date" class="datepicker">
        </li>
      </ol>
      <input type="submit" name="report" value="Report">
    </fieldset>
  </form>
</div>