<h1>Trainer Report<h1>
<%= content_tag :h2, describe_date_range(@start_date,@end_date) %>
<hr>
<% for trainer in @trainers %>
  <% @events_by_trainer[trainer].sort_by!{|e| e.customer.name_reversed} %>
  <%= content_tag :h2, trainer.email %>
  Trained: <%= @customers_by_trainer[trainer].size %><br/>
  <b><%= @hours_by_trainer[trainer] %> hours</b><br/>

  <table>
    <tr>
      <th>Name</th>
      <th>Action</th>
      <th>Date</th>
      <th>Hours</th>
    </tr>

    <% for event in @events_by_trainer[trainer] %>
      <tr>
        <td><%= link_to event.kase.customer.name, event.kase %></td>
        <td><%= link_to event.event_type.name, [:edit, event] %></td>
        <td><%= event.date.to_date %></td>
        <td class="number"><%= number_with_precision event.duration_in_hours, :precision => 2 %></td>
      </tr>
    <% end %>
  </table>
  <hr>
<% end %>

<table>
  <tr>
    <td class="definition">Total Individuals Trained:</td> 
    <td class="number"><%= @customers_by_trainer['{total}'].size %></td>
  </tr>
  <tr>
    <td class="definition">Hours Trained:</td> 
    <td class="number"><%= @hours_by_trainer['{total}'] %></td>
  </tr>
</table>
