<h1>Trainee Report</h1>
<%= content_tag :h2, describe_date_range(@start_date,@end_date) %>
<table>
  <tr>
    <th>Name</th>
    <th>Action</th>
    <th>Date</th>
    <th>Trainer</th>
    <th>Hours</th>
  </th>

  <% for customer in @customers %>
    <tr>
      <td  colspan="5" class="definition"><%= link_to customer.name, @events_by_customer[customer].first.kase %></td>
    </tr>
      <% for event in @events_by_customer[customer] %>
        <tr>
          <% if event == @events_by_customer[customer].first %>
            <td rowspan="<%= @events_by_customer[customer].size + 1 %>"></td>
          <% end %>
          <td><%= link_to event.event_type.name, [:edit, event] %></td>
          <td><%= event.date %></td>
          <td><%= event.user.email %></td>
          <td class="number"><%= number_with_precision event.duration_in_hours, :precision => 2 %></td>
        </tr>
      <% end %>
    <tr>
      <td colspan="3">&nbsp;</td>
      <td class="total"><%= number_with_precision @hours_by_customer[customer], :precision => 2 %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan = "4" class="definition">Grand Total</td>
    <td class = "total"><%= number_with_precision @events.sum(&:duration_in_hours), :precision => 2 %></td> 
  </tr>

</table>

<h2>Dispositions:</h2>
<table class="small">
  <% @dispositions.each do |disposition, set | %>
    <tr>
      <td class="definition"><%= disposition.name %>:</td>
      <td class="number"><%= set.size %></td>
    </tr>
  <% end %>
  <tr>
    <td class="definition">Total:</td>
    <td class="total"><%= @dispositions.values.sum{|s| s.size} %></td>
  </tr>
</table>
<br/>
<h2>Events:</h2>
<table class="small">
  <% @events_by_type.each do |event_type, count| %>
    <tr>
      <td class="definition"><%= event_type.name %>:</td>
      <td class="number"><%= count %></td>
    </tr>
  <% end %>
  <tr>
    <td class="definition">Total:</td>
    <td class="total"><%= @events_by_type.values.sum %></td>
  </tr>
</table>
