<h1>Listing trip reasons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Work related</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trip_reasons.each do |trip_reason| %>
  <tr>
    <td><%= trip_reason.name %></td>
    <td><%= trip_reason.work_related %></td>
    <td><%= link_to 'Show', trip_reason %></td>
    <td><%= link_to 'Edit', edit_trip_reason_path(trip_reason) %></td>
    <td><%= link_to 'Destroy', trip_reason, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trip reason', new_trip_reason_path %>
